/* ItemCart */
.cart{
    display: flex;
    align-items: center;
    padding: 30px;
    margin: 20px;
    border: 2px solid;
    border-radius: 10px;
}

.img {
    width: 200px;
    margin-right: 1rem;
}

.title{
    width: 190px;
    flex-wrap: wrap;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 900;
}

.products{
    text-align: center;
    font-size: 1.22rem;
}

.delete{
    height: 50px;
    text-align: center;
}

/* Cart */
.cart-empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 100px;
}
.empty{
    font-size: 2rem;
}

.toItems{
    padding: 20px;
}

.buttonClear{
    display: flex;
    justify-content: center;
}

.clearCart{
    width: 190px;
    text-transform: uppercase;
    border: 2px solid;
}

.toForm{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.total{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
}

.buy{
    width: 190px;
    text-transform: uppercase;
    border: 2px solid;
}