/* NavBar */
.tratamientos {
    padding: 20px 0px 10px 0px;
    font-size: 1.30rem;
}

/* Footer */
.footer{
   background-color: rgba(157, 6, 94, 0.616);
}

.image{
    margin: 15px;
}

.span{
    text-align: center;
    margin: 10px;
}

.span-title{
    font-size: 1.30rem;
    text-transform: uppercase;
}