.form{
    padding: 85px;
}

.label{
    text-align: center;
    font-size: 1.22rem;
    text-transform: capitalize;
}

.button-container{
    height: 250px;
}

.buy-button{
    font-size: 1.22rem;
    text-transform: uppercase;
    border: 2px solid rgb(161, 21, 91);
}
